@croc:registry=https://repo.croc.ru/artifactory/api/npm/just-npm-local/ 
//repo.croc.ru/artifactory/api/npm/just-npm-local/:_password=QVAzcDNFMWlrWmg1ZHkzaTFvZ3ZuZkJDekVn 
//repo.croc.ru/artifactory/api/npm/just-npm-local/:username=justicerobot 
//repo.croc.ru/artifactory/api/npm/just-npm-local/:email=justicerobot@croc.ru 
//repo.croc.ru/artifactory/api/npm/just-npm-local/:always-auth=true